@model Test.Models.Register

@{
    ViewBag.Title = "Login1";
}

<h2>Login1</h2>
<p>密码错误</p>

<div>
    @Html.ActionLink("返回", "Login")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
