@model Test.Models.User

@{
    ViewBag.Title = "AddInfo1";
}

<h2>创建完成</h2>



<br />
<div>
    @Html.ActionLink("继续添加", "AddInfo")
</div>

<br />
<div>
    @Html.ActionLink("返回主菜单", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
